/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  background: #f4f7fb;
  color: #222;
  line-height: 11.6;
}

/* Header */
header {
  background: #172554;
  color: white;
  text-align: center;
  padding: 30px 15px;
}
header h1 {
  font-size: 32px;
  margin-bottom: 8px;
}

header p {
  font-size: 17px;
}

/* Hero */
.hero {
  text-align: center;
  padding: 70px 20px;
  background: linear-gradient(135deg, #dbeafe, #fef3c7);
}

.hero h2 {
  font-size: 34px;
  margin-bottom: 15px;
}

.hero p {
  max-width: 650px;
  margin: auto;
  font-size: 18px;
}

.button {
  display: inline-block;
  margin-top: 25px;
  padding: 12px 25px;
  background: #2563eb;
  color: white;
  text-decoration: none;
  border-radius: 25px;
  font-weight: bold;
}

.button:hover {
  background: #1d4ed8;
}

/* Learning Section */
section {
  padding: 50px 20px;
  text-align: center;
}

section h2 {
  margin-bottom: 30px;
  font-size: 28px;
}

.cards {
  display: flex;
  justify-contect: center;
  gap: 25px;
  flex-wrap: wrap;
}

.card {
  background: white;
  width: 280px;
  padding: 30px 20px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.card:hover {
  tarsform: translateY(-8px);
}

.icon {
  font-size: 50px;
  margin-bottom: 10px;
}

.card h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

/* Working Section */
.working {
  background: #e0f2fe;
}

.steps {
  max-width: 700px;
  margin: auto;
}

.steps div {
  background: white;
  margin: 12px;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  text-align: left;
}

.steps span {
  background: #2563eb;
  color: white;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  font-weight: bold;
}

/* Safety */
.safety {
  background: #fff7ed;
}

.safety p {
  max-width: 650px;
  margin: auto;
  font-size: 17px;
}

/* Quiz */
.quiz {
  background: white;
}

.answers {
  max-width: 500px;
  margin: auto;
}

.answers p {
  padding: 12px;
  margin: 10px;
  border-radius: 8px;
  background: #f1f5f9;
}

.answes.correct {
  background: #dcfce7;
  font-weight: bold;
}

/* Footer */
footer {
  background: #172554;
  color: white;
  text-align: center;
  padding: 30px 15px;
}

/* Mobile */
@media (max-width: 600px) {

  header h1 {
    font-size: 25px;
  }

  .hero h2 {
    font-size: 27px;
  }

  .card {
    width: 100%;
    max-width: 350px;
  }

  section {
    padding: 40px 15px;
  }

}
  
  
  

  
  
